body {
  background: lightsteelblue;
}
/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {
	body {
    background: lightseagreen;
  }
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
  body {
    background: lavender;
  }
  



}
